<h1>Editing admin dashboard</h1>

<%= render "form", admin_dashboard: @admin_dashboard %>

<br>

<div>
  <%= link_to "Show this admin dashboard", @admin_dashboard %> |
  <%= link_to "Back to admin dashboards", admin_dashboards_path %>
</div>
