<p style="color: green"><%= notice %></p>

<h1>Admin dashboards</h1>

<div id="admin_dashboards">
  <% @admin_dashboards.each do |admin_dashboard| %>
    <%= render admin_dashboard %>
    <p>
      <%= link_to "Show this admin dashboard", admin_dashboard %>
    </p>
  <% end %>
</div>

<%= link_to "New admin dashboard", new_admin_dashboard_path %>
