<h1>Editing money category</h1>

<%= render "form", money_category: @money_category %>

<br>

<div>
  <%= link_to "Show this money category", @money_category %> |
  <%= link_to "Back to money categories", money_categories_path %>
</div>
